/* styling for layout #1: light version, tables */
/* feel free to use and edit as you wish */
/* Querri, 05/2017 */

.info, .desc, .heritage, .results {
  margin-top: 20px;
}

.info {
  display: flex;
}


/* tables in general */
table {
  width: 100%;
  background-color: #dccfbf;
}

table, th, td {
  height: 30px;
}

th {
  font: 300 13px 'Roboto Slab';
  text-transform: uppercase;
}


/* basic information table */
.info1 {
  width: 20%;
  text-align: right;
  padding-right: 10px;
}

.info2 {
  width: 30%;
}

.info3 {
  vertical-align: top;
  padding-left: 10px;
}


/* heritage table */
.heritage td {
  width: 30%;
  text-align: center;
}


/* collapsed text */
.details {
  background-color: inherit;
}

.details th {
  width: 20%;
  text-align: right;
}

.details td {
  width: 80%;
  text-align: left;
  padding-left: 10px;
}

summary:focus {
  outline-style: none;
}


/* competition results table */
.results th, .results td {
  width: 20%;
}
