<!-- feel free to use and edit -->
<!-- Querri, 2017 -->

<!DOCTYPE html>
<html>
<head>
  <title>#2 Preussi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css"
        href='http://fonts.googleapis.com/css?family=Elsie:300,400,700|Roboto+Slab:300,400,700|Satisfy'>
  <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>

  <!-- navbar on the left -->
    <div class="navbar">
      <a href="#">linkki</a>
      <a href="#">linkki</a>
      <a href="#">linkki</a>
      <a href="#">linkki</a>
      <a href="#">linkki</a>
    </div>
    <div class="navpic">
    </div>

  <div class="parallax">
    <!-- title -->
    <div class="parallax__layer parallax__layer--title">
      <h1 class="title">#2 preussi</h1>
    </div>

    <!-- title image -->
    <div class="parallax__layer parallax__layer--img" >
        <img class="title-img" src="prussia2.jpg">
    </div>

    <!-- main content -->
    <div class="parallax__layer parallax__layer--content">
      <div class="content--bg">
        <div class="content">
          <p>Preussi (saks. Preußen, puol. Prusy, liettuaksi Prūsija) tarkoitti alkujaan Itämeren
            rannikolla sijainnutta aluetta, johon kuului osia nykyisestä Saksasta ja Puolasta sekä
            Venäjälle kuuluva Kaliningradin alue.<br>
            Nimi Preussi viittaa muinaispreussilaisiin, Baltiassa asuneisiin ihmisiin jotka olivat
            sukua latvialaisille ja liettualaisille. 1200-luvulla Saksalainen ritarikunta valloitti
            ”Vanhan Preussin”. Vuonna 1308 nämä ristiretkeläiset valloittivat aiemmin Puolalle
            kuuluneen alueen Pomeralian. Tälle alueelle alkoi muuttaa saksalaisia, ja kulttuurin
            saksalaistuminen oli hyvin selvää koko alueella lukuun ottamatta eteläosia, jotka olivat
            puolalaistuneet. Vuonna 1466 alue jaettiin kahteen osaan, mutta vuodesta 1618 lähtien
            Itä-Preussilla oli Brandenburgin vaaliruhtinaskunnan kanssa yhteinen Hohenzollern-sukuinen
            hallitsija. Vuonna 1701 Fredrik I kruunautti itsensä Preussin kuninkaaksi, ja tämän
            jälkeen koko Hohenzollernien valtakuntaa, Brandenburg mukaan luettuna, alettiin yleisesti
            nimittää Preussin kuningas­kunnaksi. 1700-luvun lopulta lähtien suuresti laajentunut Preussi
            hallitsi Pohjois-Saksaa poliittisesti ja taloudellisesti ja oli väkiluvultaan alueen suurin
            valtio. Saksan yhdistyttyä 1871 Preussi oli Saksan keisarikunnan suurin ja vaikutusvaltaisin
            liittomaa (saks. Bundesland, eli osavaltio).<br><br>
            Ensimmäisen maailmansodan jälkeen Preussista tuli osa Weimarin tasavaltaa osavaltiona.
            Se tosin menetti asemansa 1932 ja joutui de facto natsivallan alle 1933 ja liittoutuneiden
            valloittamaksi 1945. Toisen maailmansodan jälkeen Preussi jaettiin Puolan, Neuvostoliiton
            ja molempien Saksojen kesken, minkä jälkeen Preussi on ollut vain historiallinen,
            maantieteellinen ja jopa kulttuurillinen alue.</p>

          <h3>Historia</h3>
          <p>Preussin nimi juontaa juurensa Itämeren kaakkoiskolkassa eläneestä samannimisestä
            baltialaisesta heimosta ja heidän puhumastaan muinaispreussin kielestä. Muinaispreussilaiset
            kukisti vuonna 1283 saksalainen ritarikunta, joka valloitti maan. Alueelle alkoi muuttaa
            saksalaisia uudisasukkaita. Preussilaisten saksalaiset nujertajat alkoivat sitten käyttää
            itsestään nimitystä preussilainen. Tuolloin syntyi myös saksalainen maanomistusluokka junkkerit,
            jotka säilyttivät merkittävän poliittisen valta-aseman sotilaallisen merkityksensä päätyttyä
            feodalismin lopun myötä.<br><br>
            Länsi-Preussi joutui Puolalle vuonna 1466. Itä-Preussin ritarikunta sai pitää, mutta sekin
            alistettiin Puolan kuninkaan lääninherruuteen. Suurmestari Albrekt muutti alueensa
            protestanttiseksi Preussin herttuakunnaksi vuonna 1525. Vuonna 1618 Itä-Preussin peri
            Brandenburgin vaaliruhtinas Juhana Sigismund Hohenzollern, ja vuonna 1657 (lopullisesti
            1660) vaaliruhtinas Fredrik Vilhelm onnistui vapauttamaan Itä-Preussin Puolan lääniherruudesta.
            Koska Brandenburg oli yksi Pyhän saksalais-roomalaisen keisarikunnan tärkeimmistä valtioista -
            vaaliruhtinaat valitsivat uuden keisarin entisen kuoltua - valtiota kutsuttiin vielä pitkään
            Brandenburgiksi ja 1700-luvulla Brandenburg-Preussiksi.<br><br>
            Vuonna 1701 Brandenburgin vaaliruhtinas julistautui kuninkaaksi, joskaan hän ei saanut käyttää
            hallitsijanimeä Preussin kuningas vaan kuningas Preussissa. Kyseessä oli kompromissi Pyhän
            Saksalais-roomalaisen keisarikunnan hallitsijan kanssa, minkä lisäksi muiden eurooppalaisten
            hallitsijoiden oli näin helpompaa hyväksyä Hohenzollern-suvun nostaminen kuninkaalliseen säätyyn.
            Tällöin muodostettuun Preussin kuningaskuntaan kuuluivat toisistaan erillään sijainneet
            Brandenburgin alue Berliinin seudulla sekä Itä-Preussi; Brandenburg säilyi edelleen osana
            keisarikuntaa, mutta se otti ulkopolitiikassaan merkittäviä vapauksia ja kykeni sanelemaan
            itselleen hyvät ehdot keisariäänestyksissä vallankahvassa pysytteleviltä Habsburgien
            keisarisuvulta.<br><br>
            Preussin ensimmäisen kuninkaan Fredrik I:n seuraaja, vuosina 1713–1740 hallinnut Fredrik
            Vilhelm I pani kuntoon sotalaitoksen ja valtion raha-asiat ja valloitti Ruotsilta osan
            Etu-Pommeria. Hänen seuraajansa Fredrik II Suuren hallitusaikana (1740–1786) Preussi kohosi
            suurvallaksi. Itävallan perimyssodassa se valloitti Sleesian ja puolustautui seitsenvuotisessa
            sodassa 1756–1763 menestyksellisesti ylivoimaa vastaan. Puolan ensimmäisessä jaossa vuonna 1772
            Preussi sai Brandenburgin ja Itä-Preussin välissä sijainneen, siihen saakka Puolalle kuuluneen
            Länsi-Preussin (suunnilleen saman alueen, joka paljon myöhemmin, vuosina 1919–1939, tunnettiin
            Puolan käytävänä), minkä jälkeen valtion alue muodosti yhtenäisen kokonaisuuden. Seuraavissa jaoissa
            Fredrik Vilhelm II:n aikana (1786–1797) Preussi sai vielä laajoja alueita. Liitettyään
            Länsi-Preussin valtakuntaansa Fredrik II Suuri sai historiallisen oikeutuksen käyttää itsestään
            nimitystä Preussin kuningas, eikä enää kuningas Preussissa. Hänen jälkeensä tulleet kuninkaat
            kantoivat myös tätä titteliä aina viimeiseen preussilaiseen kuninkaaseen Vilhelm II:een saakka.</p>
          <a href="https://fi.wikipedia.org/wiki/">-Wikipedia</a>  <!--TODO-->
        </div>
      </div>
    </div>
</body>
</html>
