<!DOCTYPE html>
<html>
<head>
  <title>Layout 1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="style-t.css">
  <link rel="stylesheet" type="text/css"
        href='http://fonts.googleapis.com/css?family=Elsie:300,400,700|Roboto+Slab:300,400,700|Satisfy'>
  <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>
  <!-- navigation bar is included from another file -->
  <!-- <div w3-include-html="navbar.html"></div> -->

  <h1 class="title title-tall">#1 Pääskyt</h1>

  <div class="navbar">
    <a href="horse.html">tumma versio - hevonen</a>
    <a href="index.html">tumma versio - etusivu</a>
    <a href="../light/index.html">vaalea versio - etusivu</a>
    <a href="../light/horse.html">vaalea versio - hevonen</a>
  </div>

  <div class="content">
    <p>Sirorakenteisia ja lyhytjalkaisia lintuja, joille on ominaista
    erittäin hyvä lentotaito. Niillä on kapeat, pitkät ja teräväkärkiset siivet. Ruumis
    on sukkulamainen ja pyrstö pitkä ja usein haarautunut. Nokka on lyhyt ja leveä ja
    siinä on suuri kita. Jalat ovat hyvin hennot, lyhyet ja pienikyntiset, eikä niillä
    pysty kunnolla kävelemään. Käsi- ja kyynärsulkia on kumpiakin yhdeksän, laitimmaiset
    sulat ovat muita selvästi pidempiä. Höyhenet ovat lyhyet ja vartalonmyötäiset. Ne
    ovat selkäpuolelta yleensä metallinkiiltoiset. Molemmat sukupuolet ovat samanvärisiä.
    Pääskyjen lentotaito on erittäin hyvä ja ne pystyvät tekemään pitkiäkin ruuanhaku-
    tai muuttomatkoja.</p>

    <h3>Levinneisyys</h3>
    <p>Pääskyjä elää kaikkialla maailmassa, lukuun ottamatta napaseutuja, Uutta-Seelantia
    ja joitakin valtamerten pikkusaaria. Alueilla, joissa vuodenaikojen vaihtelut ovat
    pieniä, pääskyt vaeltavat vain vähän. Pääskyt viihtyvät hyvin ihmisten läheisyydessä
    ja ovat erittäin pidettyjä lintuja sekä hyödyllisiä tuholaishyönteisten hävittäjiä.
    Suomen pääskyt muuttavat talveksi Keski- ja Etelä-Afrikkaan. Suomessa pesii kolme
    lajia: <a href="#">haarapääsky</a>, <a href="#">räystäspääsky</a> ja <a href="#">
    törmäpääsky</a>.</p>

    <h3>Elintavat</h3>
    <p>Pääskyt ovat seurallisia lintuja ja lepäilevät usein puissa, voimajohdoilla,
    antenneilla ja talojen katoilla. Pääskyjen laulu on pientä viserrystä. Kaikki
    lajit ovat hyönteissyöjiä ja pyydystävät saaliinsa lennosta. Välillä ne voivat
    napata paikallaan jököttävän hyönteisen, mutta hankkivat ruokansa yleensä ilmasta.
    Ravinto koostuu lähinnä sääskistä ja kärpäsistä. Niiden lisäksi pääskyt pyydystävät
    kovakuoriaisia ja muita pikkueläimiä. Pääskyt myös juovat ja peseytyvät ilmassa.
    Pääskyt pesivät usein yhdyskunnissa. Ne pesivät puunkoloissa, kallionhalkeamissa,
    ranta- tai maatörmissä, rakennuksissa tai rakentavat pesänsä johonkin sopivaan
    paikkaan savesta. Useimmat pääskyt ovat hyviä pesänrakentajia. Pääskyt päällystävät
    pesän ulkoseinän tahmealla syljellä yhteen liimatuista savikokkareista ja eräät
    pääskyt kaivavat suuria käytäviä pystysuoriin jyrkänteisiin. Yhdessä pesueessa on
    3–7 munaa. Haudonnasta huolehtii enimmäkseen naaras, mutta myös koiras hautoo.
    Jotkut lajit asettuvat valmiisiin koloihin tai tekevät risuista ja muusta
    kasviaineksesta pesän jyrkänteelle. Yksinkertaisia avoimia risupesiä tekee muun
    muassa naamiopääsky. Puupääskyt taas tekevät pesänsä tikankoloihin tai luonnon
    muovaamiin puunonkaloihin.</p>
    <a href="https://fi.wikipedia.org/wiki/P%C3%A4%C3%A4skyt">-Wikipedia, Pääskyt</a>
  </div>

  <div class="footer">
    layout &copy <a href="#">Querri</a>
    images &copy <a href="https://www.flickr.com/photos/spreischlphotography/">
      S Preischl</a>
  </div>


  <script>
  w3.includeHTML();
  </script>
</body>
</html>
