<!DOCTYPE html>
<html>
<head>
  <title>Layout 1</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>

<body>
  <!-- navigation bar is included from another file -->
  <!-- <div w3-include-html="navbar.html"></div> -->

  <h1 class="title">Layout 1</h1>

  <div class="navbar">
    <a href="#">link</a>
    <a href="#">link</a>
    <a href="#">link</a>
    <a href="#">link</a>
    <a href="#">link</a>
    <a href="#">link</a>
  </div>

  <div class="content">
    <p>Marzipan donut croissant gummies. Toffee sugar plum gummi bears chocolate
    cake candy. <a href="#">Chupa chups</a> biscuit cookie candy canes marshmallow
    lollipop wafer icing. Donut caramels cake oat cake chocolate topping pastry.</p>

    <p>Dessert jelly marshmallow bear claw. Cake powder jelly donut marshmallow.
    Sugar plum toffee dragée brownie chupa chups brownie cheesecake liquorice.</p>

    <p>Marzipan donut croissant gummies. Toffee sugar plum gummi bears chocolate
    cake candy. <a href="#">Chupa chups</a> biscuit cookie candy canes marshmallow
    lollipop wafer icing. Donut caramels cake oat cake chocolate topping pastry.</p>

    <p>Dessert jelly marshmallow bear claw. Cake powder jelly donut marshmallow.
    Sugar plum toffee dragée brownie chupa chups brownie cheesecake liquorice.</p>

    <p>Marzipan donut croissant gummies. Toffee sugar plum gummi bears chocolate
    cake candy. <a href="#">Chupa chups</a> biscuit cookie candy canes marshmallow
    lollipop wafer icing. Donut caramels cake oat cake chocolate topping pastry.</p>

    <p>Dessert jelly marshmallow bear claw. Cake powder jelly donut marshmallow.
    Sugar plum toffee dragée brownie chupa chups brownie cheesecake liquorice.</p>

    <p>Marzipan donut croissant gummies. Toffee sugar plum gummi bears chocolate
    cake candy. <a href="#">Chupa chups</a> biscuit cookie candy canes marshmallow
    lollipop wafer icing. Donut caramels cake oat cake chocolate topping pastry.</p>

    <p>Dessert jelly marshmallow bear claw. Cake powder jelly donut marshmallow.
    Sugar plum toffee dragée brownie chupa chups brownie cheesecake liquorice.</p>

    <p>Marzipan donut croissant gummies. Toffee sugar plum gummi bears chocolate
    cake candy. <a href="#">Chupa chups</a> biscuit cookie candy canes marshmallow
    lollipop wafer icing. Donut caramels cake oat cake chocolate topping pastry.</p>

    <p>Dessert jelly marshmallow bear claw. Cake powder jelly donut marshmallow.
    Sugar plum toffee dragée brownie chupa chups brownie cheesecake liquorice.</p>

    <p>Marzipan donut croissant gummies. Toffee sugar plum gummi bears chocolate
    cake candy. <a href="#">Chupa chups</a> biscuit cookie candy canes marshmallow
    lollipop wafer icing. Donut caramels cake oat cake chocolate topping pastry.</p>

    <p>Dessert jelly marshmallow bear claw. Cake powder jelly donut marshmallow.
    Sugar plum toffee dragée brownie chupa chups brownie cheesecake liquorice.</p>
  </div>


  <script>
  w3.includeHTML();
  </script>
</body>
</html>
